html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@import url("./fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

.skill-icons {
  color: white;
}

@media (max-width: 575.98px) {
  .name-title {
    font-size: 1.1rem !important;
  }
  .name-label {
    font-size: 0.7rem !important;
  }
  .skill-icons {
    width: 18px;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .name-title {
    font-size: 1.2rem !important;
  }
  .name-label {
    font-size: 0.8rem !important;
  }
  .skill-icons {
    width: 20px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .name-title {
    font-size: 1.7rem;
  }
  .name-label {
    font-size: 1rem !important;
  }
  .skill-icons {
    width: 20px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .name-title {
    font-size: 2.3rem;
  }
  .name-label {
    font-size: 1rem !important;
  }
  .skill-icons {
    width: 25px;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .name-title {
    font-size: 2.3rem !important;
  }
  .name-label {
    font-size: 1rem !important;
  }
  .skill-icons {
    width: 27px;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .name-title {
    font-size: 2.5rem !important;
  }
  .name-label {
    font-size: 1rem !important;
  }
  .skill-icons {
    width: 28px;
  }
}

a:hover {
  text-decoration: none !important;
}
a:link {
  text-decoration: none !important;
}
#template {
  /* background-color: rgb(60 65 64 / 31%); */
  min-height: 100vh;
}

.vh100 {
  min-height: 100vh !important;
  margin-bottom: 0 !important;
}

.container {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

/* * {
  color: white;
} */

.full-box {
  max-height: 100% !important;
  max-width: 100% !important;
}

.body-items-around {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}

.body-items-start {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.body-item {
  width: 100%;
}

.border-top {
  border-top: 1px solid #fff;
}

.footer {
  height: 60px;
  width: 100%;
}

.align-center {
  display: flex;
  align-items: center;
}
.footer-row{

  display: flex;
  justify-content: space-between;
}
.footer-list {
  margin-bottom: 0;
  list-style: none;
  padding-right: 0;
  display : flex;
  align-items: center;
}

.footer-list li {
  float: right;
}

.balance {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.footer-icons {
  width: 23px;
  color: white;
}

#jox-box {
  min-height: 260px;
  /*max-height: 290px;*/
  /*transition: min-height 2s;*/
  transition-property: min-height;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.01s;
}
#jox-box.active {
  min-height: 390px;
  /*max-height: 390px;*/
}

.showMore {
  float: left;
  cursor: pointer;
}
p {
  margin-bottom: 1px !important;
}

.min-h-25 {
  min-height: 25px !important;
}
.min-h-30 {
  min-height: 30px !important;
}
.min-h-35 {
  min-height: 35px !important;
}
.min-h-50 {
  min-height: 50px !important;
}
.max-h-300 {
  max-height: 300px !important;
}

.Header-link {
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
}
.center-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
